html,body{
  margin:0;
  height: 100%;
}

body{
  font-family: 'Quicksand', sans-serif;
  color: #ccc2a6;
  background: linear-gradient(135deg, #1c1b18 1%,#1c1b18 37%,#2d2e29 100%);
  background-repeat: no-repeat;
}

ul{
  list-style: none;
}

#userinput{
  padding: 5px 10px;
  border-radius: 15px;
}

button {
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background:gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
  background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  background-color:#eae0c2;
  border-radius:15px;
  border:2px solid #333029;
  display:inline-block;
  cursor:pointer;
  color:#505739;
  font-family: 'Quicksand', sans-serif;
  font-size:14px;
  font-weight:bold;
  padding:12px 16px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
button:hover {
  background:gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
  background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  background-color:#ccc2a6;
}

.done {
  text-decoration: line-through;
}